<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link href="./css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="./css/sistemasmj.css"  /> 
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="./js/sistemasmj.js"></script> 
    <title>SistemasMJ</title>
</head>
<body>         
    <section id="home" style="height: 100vh;" >        
        <div class="position-absolute" style="width: 100%;">
            <img  class="fondo" src="../img/sistemasmj/background.jpg"   alt="...">
        </div>

        <div class="position-relative">
            <nav class="navbar navbar-expand-lg bloque-transparente">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">SISTEMASMJ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Sobre Mi</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="#tecnologias">Tecnologias</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contacto</a>
                    </li>
                    </ul>
                    <form class="d-flex">              
                    <button class="btn btnLogin" type="submit">Clientes</button>
                    </form>
                </div>
                </div>
            </nav>
            
            <div class="pt-5 ap1" style="display:none;">
                <div class="col-md-4 bloque-transparente ms-5 ps-1">
                    <div class="p-4">
                        <h4>Jose Mallqui</h4> 
                        <p>
                            Realizo sistemas web con las ultimas tecnologias de informatica,
                            elaborando un software escalable y de alto rendimiento.
                        </p>

                    </div>
                   
                </div>
            </div>
            
        </div>
        
    </section>

    <div class="container-fliud trance"> 
    </div>
    <section id="about">
        <div class="container"> 
            <div class="row "> 
         
                <div class=" col-sm-12 col-md-12 mt-3 mb-5" style="border: 1px solid #080808;">
                </div>

          
                    
                    <div class="col-md-8 ">
                        <div class="d-flex mt-3 mb-5"> 
                            <h2 class="d-inline">Sobre&nbsp;Mi</h2>    
                            <p class="aboutp"> Soy Jose Mallqui, un apasionado por el desarrollo de sitios web. 
                                Diseño y desarrollo siempre con la finalidad de obtener un sistema deacuerdo a sus necesidades.
                            </p>
                        </div>
                        <p class="d-block">Mi objetivo principal es lograr que las personas puedan conectar con más clientes, marcas o negocios utilizando medios digitales de una manera eficaz, sencilla y amigable, esto lo logro creando sitios webs faciles de usar, amigables
                            construidos con las mejores prácticas y escalables en el tiempo.
                        </p>
                    </div>
                    
                    <div class="col-md-4 d-flex">
                        <img  class="img-thumbnail img-perfil mx-auto" src="../img/sistemasmj/perfil.jpg"   alt="...">
                    </div>
                   
            </div> 
        </div>
    </section> 


    <section id="tecnologias">
        <div class="container"> 
            <div class="row mx-auto"> 
         
                <div class=" col-sm-12 col-md-12 mt-3 mb-5" style="border: 1px solid #080808;">
                </div>
                    
                    <div class="col-sm-12">
                        <h2>tecnologias usadas <br><br></h2>
                        <p>
                            Los sistemas son desarrollados con las ultimas tecnologias de seguridad y desempeño.
                        </p>

                    </div>

                    <div class="col-sm-6 col-md-4">
                        <h5>Java</h5>  
                        <p><br/p>
                    </div> 
                    
                    <div class="col-sm-6 col-md-4">
                        <h5>Genexus</h5>
                        <p><br/p>
                    </div>
                    
                    <div class="col-sm-6 col-md-4">
                        <h5>Bootstrap</h5>
                        <p><br/p>
                    </div>
                    
                    <div class="col-sm-6 col-md-4">
                        <h5>Angular</h5>
                        <p><br/p>
                    </div> 
                    
                    <div class="col-sm-6 col-md-4">
                        <h5>JWT</h5>
                        <p><br/p>
                    </div> 
                    
                    <div class="col-sm-6 col-md-4">
                        <h5>Nodejs</h5>  
                        <p><br/p>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <h5>Mysql</h5>
                        <p><br/p>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <h5>SQl Server</h5>
                        <p><br/p>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <h5>PostgreSQL</h5>
                        <p><br/p>
                    </div>
            </div> 
        </div>
    </section> 

    <section id="contact" >
        <div class="container"> 
            <div class="row "> 
            <div class="col-md-12 mt-3 mb-5" style="border: 1px solid #080808;">
            </div>

               
                

                <div class="col-md-6 col-sm-12"> 
                    <h2>Mis datos  <br> <br></h2>                                
                    <p><i class="bi bi-envelope"></i> <a href="mailto:josemallqui@gmail.com">josemallqui@gmail.com</a></p>
                    <p><i class="bi bi-phone"></i> <a href="tel:+51929286069">51929286069</a></p>
                </div>
                
                <div class="col-md-6 col-sm-12">
                    <h2>Redes Sociales   <br> <br></h2> 
                    <p> <i class="bi bi-facebook"></i> <a href="https://www.facebook.com/sistemasmj">@sistemasmj</a></p>
                    <p> <i class="bi bi-whatsapp"></i> <a href="https://api.whatsapp.com/send?phone=51929286069&text=Me%20podrias%20brindar%20mayor%20informacion%20sobre%20tus%20sistemas%3F">929286069</a> </p> 
                    <p> <i class="bi bi-telegram"></i> <a href="https://t.me/JoseMJ"> @JoseMJ</a> </p> 
                    
                </div> 
            </div> 
        </div>
    </section>



    <footer class="card text-center mt-5">
        <p></p>
        <p>© 2021 | Diseñado por: Jose Mallqui </p> 
        
    </footer>


</body>
</html>
 
 
    
 