<body style="background-color: #525252;">
    <table align="center">
        <tbody>
            <tr>
                <td>
                    <table id="TABLE1" style="background: white;" width="1100px" data-cellpadding="1"
                        data-cellspacing="2">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center"
                                        style="text-align: justify; line-height: 20px; background: white; font-family:Tahoma;  text-align: justify; color: black; width:800px">
                                        <tbody>
                                            <tr>
                                                <td>



                                                    <%- html%>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>



</body>