<body style="background-color: #525252;">
    <table align="center">
        <tbody>
            <tr>
                <td>
                    <table id="TABLE1" style="background: white;" width="1100px" data-cellpadding="1" data-cellspacing="2">
                        <tbody>
                            <tr> 
                                <td>
                                    <table align="center" style="text-align: justify; line-height: 20px; background: white; font-family:Tahoma;  text-align: justify; color: black; width:800px">
                                        <tbody>
                                            <tr>
                                                <td>                                                    
                                                    <p><strong>C O M P A R E C E</strong></p>
                                                  
                                                    <p>DOY FE DE HABER IDENTIFICADO AL COMPARECIENTE, EN ADELANTE
                                                        <strong>EL/LA PODERDANTE</strong>, Y QUE PROCEDE CON CAPACIDAD,
                                                        LIBERTAD Y CONOCIMIENTO BASTANTE DEL ACTO QUE REALIZA, Y QUE ES
                                                        HABIL EN EL IDIOMA CASTELLANO, Y DE HABER UTILIZADO EL MECANISMO
                                                        DE LA COMPARACION BIOMETRICA DE LAS HUELLAS DACTILARES Y LA
                                                        CONSULTA EN LINEA RENIEC, CUMPLIENDO CON LO ESTABLECIDO EN EL
                                                        LITERAL D) DEL ARTICULO 54, Y EL ARTICULO 55 DEL DECRETO
                                                        LEGISLATIVO Nº 1049 DE LA LEY DE NOTARIADO, MODIFICADO POR LOS
                                                        DECRETOS LEGISLATIVOS Nº 1350 Y Nº 1232 RESPECTIVAMENTE, DEJANDO
                                                        CONSTANCIA QUE EN LA FORMALIZACION DEL PRESENTE INSTRUMENTO NO
                                                        SE REQUIERE LA PRESENTACION DE MINUTA, DE CONFORMIDAD CON LO
                                                        DISPUESTO CON EL ARTICULO CINCUENTIOCHO DE LA LEY DE NOTARIADO,
                                                        MANIFESTANDOME QUE: OTORGA PODER AMPLIO, GENERAL Y ESPECIAL A
                                                        FAVOR DE <strong>LILIANA SILVA VEGA IDENTIFICADO(A) CON
                                                            DOCUMENTO NACIONAL DE IDENTIDAD Nº 46394108</strong>, A
                                                        QUIEN EN ADELANTE SE LE DENOMINARA <strong>EL/LA
                                                            APODERADO(A)</strong>; EN LOS TERMINOS Y CONDICIONES DE LAS
                                                        CLAUSULAS SIGUIENTES:</p>

                                                    <p><strong>PRIMERO.-</strong><strong>EL/LA PODERDANTE</strong> A
                                                        TRAVES DEL PRESENTE DOCUMENTO OTORGA UN PODER AMPLIO, GENERAL Y
                                                        ESPECIAL PARA SER EJERCIDO POR <strong>EL/LA
                                                            APODERADO(A)</strong>, CON LAS FACULTADES CONTENIDAS EN LAS
                                                        CLAUSULAS SIGUIENTES.</p>

                                                    <p><strong>FACULTADES JUDICIALES</strong></p>

                                                    
                                                        

                                                    <p><strong>SEGUNDO.- EL/LA APODERADO(A)</strong> DE CONFORMIDAD CON
                                                        EL ART. 74 Y 75 DEL CÓDIGO PROCESAL CIVIL, TENDRÁ FACULTADES DE
                                                        REPRESENTACIÓN TANTO EN FORMA GENERAL COMO ESPECIAL, AL IGUAL
                                                        QUE ACTIVA COMO PASIVAMENTE, COMPARECIENDO Y REALIZANDO TODA
                                                        CLASE DE ACTOS Y TRÁMITES ANTE CUALQUIER CLASE DE AUTORIDAD,
                                                        ENTIDAD O PERSONA, SEAN ÉSTAS DE CARÁCTER ADMINISTRATIVO,
                                                        MUNICIPAL, POLÍTICO, TRIBUTARIO, DE ADUANAS, LABORAL, NOTARIAL,
                                                        REGISTRAL, POLICIAL Y JUDICIAL, PARA DEFENDER Y HACER VALER
                                                        TODOS LOS DERECHOS DE<strong>&nbsp;EL/LA
                                                            PODERDANTE</strong>&nbsp;E INTERESES, ESTANDO INVESTIDAS
                                                        PARA TALES EFECTOS DE TODAS LAS FACULTADES TANTO GENERALES COMO
                                                        ESPECIALES, Y EN PARTICULAR LAS PREVISTAS EN LOS ARTICULOS 74,
                                                        75 Y 436 DEL CÓDIGO PROCESAL CIVIL, QUEDANDO DESDE ESTE MOMENTO
                                                        LEGITIMADA TODAS SUS INTERVENCIONES EN TODO TRÁMITE, ACTUACIÓN,
                                                        PROCESO Y DEMÁS, ASÍ COMO EN LA REALIZACIÓN DE TODOS LOS ACTOS
                                                        DE LOS MISMOS, EN ESPECIAL PARA PREPARAR, SUSCRIBIR, PRESENTAR,
                                                        INTERPONER Y CONTESTAR DEMANDAS, DENUNCIAS, SOLICITUDES,
                                                        PROPONER EXCEPCIONES Y DEFENSAS PREVIAS, DESISTIRSE DEL PROCESO
                                                        Y DE LA PRETENSIÓN, RECONVENIR Y CONTESTAR RECONVENCIONES,
                                                        ALLANARSE EN TODO O PARTE A PRETENSIONES DEMANDADAS, DISPONER DE
                                                        DERECHOS SUSTANTIVOS, ASISTIR A TODA CLASE DE AUDIENCIAS,
                                                        PRESTAR DECLARACIÓN DE PARTE, RECONOCER DOCUMENTOS, CONCILIAR,
                                                        TRANSIGIR EL PLEITO, SOMETER A ARBITRAJE LAS PRETENSIONES
                                                        CONTROVERTIDAS EN EL PROCESO, INTERPONER TODO TIPO DE RECURSOS
                                                        IMPUGNATORIOS ANTE TODA CLASE DE INSTANCIAS, TRAMITAR LA
                                                        EJECUCIÓN DE LAS SENTENCIAS, EFECTUAR EL COBRO DE COSTAS Y
                                                        COSTOS; SOLICITAR TODO TIPO&nbsp; DE MEDIDAS CAUTELARES, SEAN
                                                        GENÉRICAS O ESPECÍFICAS, OTORGANDO CONTRACAUTELAS REALES O
                                                        PERSONALES, PUDIENDO PRESTAR CAUCION JURATORIA, SOLICITAR
                                                        VARIACIÓN Y CONVERSIÓN DE LAS MEDIDAS CAUTELARES, EFECTUAR EL
                                                        CATEO EN LAS MEDIDAS DE EMBARGO O SECUESTRO, NOMBRAR
                                                        DEPOSITARIOS Y CUSTODIOS, PUDIENDO PACTAR SUS HONORARIOS,
                                                        SOLICITAR DESALOJOS Y REALIZAR TODOS LOS DEMÁS ACTOS EN QUE SE
                                                        REQUIERA INTERVENCION DE EL/LA PODERDANTE. ASIMISMO, PODRÁ
                                                        REPRESENTARLA EN TODA CLASE DE PROCESOS NOTARIALES, JUDICIALES O
                                                        EXTRAJUDICIALES PARA HACER VALER SUS DERECHOS E INTERESES ANTE
                                                        TODA CLASE DE JUZGADOS, SALAS Y TRIBUNALES ESTABLECIDOS POR LA
                                                        LEY ORGÁNICA DEL PODER JUDICIAL, DEL MINISTERIO PÚBLICO Y DEMÁS
                                                        ENTIDADES PERTINENTES EN TODO EL TERRITORIO DE LA REPÚBLICA, ASÍ
                                                        COMO ANTE CUALQUIER CENTRO DE CONCILIACIÓN EXTRAJUDICIAL,
                                                        FORMULANDO Y ACEPTANDO INVITACIONES PARA PRESENTARSE ANTE ELLOS,
                                                        ASISTIENDO A LAS AUDIENCIAS RESPECTIVAS, DISPONIENDO DE LOS
                                                        DERECHOS MATERIA DE CONCILIACION, ADOPTANDO ACUERDOS Y FIRMANDO
                                                        LAS ACTAS Y DEMÁS DOCUMENTOS PÚBLICOS Y PRIVADOS QUE FUEREN
                                                        NECESARIOS.</p>

                                                    <p><strong>TERCERO.-</strong> SE PRECISA QUE LAS FACULTADES
                                                        CONTENIDAS EN LOS TÉRMINOS ANTERIORES, CONSTITUYE
                                                        A&nbsp;<strong>EL/LA APODERADO(A)</strong> EN AGENTE CAPAZ EN
                                                        TODO MOMENTO Y ANTE TODA INSTANCIA, NO PUDIENDO SER SUSCEPTIBLE
                                                        DE TACHA POR DEFECTUOSA O INSUFICIENTE.</p>

                                                    <p>USTED SEÑOR NOTARIO AGREGARA LA INTRODUCCION Y CONCLUSION DE LEY;
                                                        Y CURSARÁ LOS PARTES AL REGISTRO PÚBLICO CORRESPONDIENTE PARA SU
                                                        DEBIDA INSCRIPCIÓN.</p>

                                                    <p>LIMA, 3 DE NOVIEMBRE DEL 2021.</p>

                                                    <p>&nbsp;</p>

                                                    <p>&nbsp;</p>

                                                    <p><strong>PODERDANTE</strong></p>

                                                    <p>&nbsp;</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>



</body>