<%- include ('partials/_header'); -%>

    <section style="height: 100%; background: blue;">
        
        <img class="fondo" src="../img/background.jpg" class="img-fluid" alt="...">

        <div class="container position-relative pt-5">
                <div class="bg-white row pt-2 pb-3"> 
                    <div class="col-md-12 ">
                        <h2>Casa Fanning Apart Hotel  </h2> 
                    </div> 
                    <div class="col-md-5 pt-4">
                        <p>Calle Juan Fanning 211, Barranco, Lima LIMA 04, Perú</p>
                        <p>+51 1477 2432 / +51946045221</p>  
                    </div>                    
                    <div class="col-sm-6">
                        <form action="/otros" method="post">
                            <div class="row justify-content-around"> 
                                <div class="col-md-4 col-sm-12 pb-3">
                                    <label for="fchini">Desde: </label><input id="inicio" name="fchini" class="fecha" type="date" value=<%=today %> onchange="updatefecha();">    
                                </div>                                
                                <div class="col-md-4 col-sm-12"> 
                                    <label for="fchfin">Hasta: </label><input id="fin" name="fchfin" class="fecha d-inline" type="date">                                    
                                </div> 
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-dark">Buscar</button>                                 
                            </div>
                        </form> 
                    </div>
                </div>
           </div>
    </section>

    <section id="About" class="pt-4">
        <div class="container"> 
           <div class="row "> 
            <div class="col-md-12 mt-3 mb-5" style="border: 1px solid #080808;">
            </div>

                <h2>Acerca de Casa Fanning Apart Hotel</h2>
                <p class="text-justify">
                    Acerca de Casa Fanning Apart Hotel
                    Habitación en apartahotel
                    Tu habitación incluye cocina totalmente equipada
                    Limpio y ordenado
                    Este alojamiento ha enumerado varias prácticas de limpieza diferentes
                    Gratis
                    La estancia incluye este servicio gratuito: wifi
                    Si decides alojarte en este apartotel, te encontrarás en una fantástica zona de Lima (Barranco) y apenas te separarán 15 minutos en coche de Plaza San Martín y Centro comercial Paso 28 de Julio. Tendrás un servicio de limusina o coche con chófer, tintorería y un servicio de recepción las 24 horas a tu disposición. Pagando un pequeño suplemento podrás aprovechar prestaciones como servicio de transporte al aeropuerto (ida y vuelta) (disponible las 24 horas) y aparcamiento sin asistencia gratuito.
                    
                </p>
           </div>
            
           <div class="row">
            <h3>bienvenido</h3>

            <p>
                Acerca de Casa Fanning Apart Hotel
                Habitación en apartahotel
                Tu habitación incluye cocina totalmente equipada
                Limpio y ordenado
                Este alojamiento ha enumerado varias prácticas de limpieza diferentes
                Gratis
                La estancia incluye este servicio gratuito: wifi
                Si decides alojarte en este apartotel, te encontrarás en una fantástica zona de Lima (Barranco) y apenas te separarán 15 minutos en coche de Plaza San Martín y Centro comercial Paso 28 de Julio. Tendrás un servicio de limusina o coche con chófer, tintorería y un servicio de recepción las 24 horas a tu disposición. Pagando un pequeño suplemento podrás aprovechar prestaciones como servicio de transporte al aeropuerto (ida y vuelta) (disponible las 24 horas) y aparcamiento sin asistencia gratuito.
                
            </p>
        </div>

        <div class="row">
            <h3>bienvenido</h3>

            <p>
                Acerca de Casa Fanning Apart Hotel
                Habitación en apartahotel
                Tu habitación incluye cocina totalmente equipada
                Limpio y ordenado
                Este alojamiento ha enumerado varias prácticas de limpieza diferentes
                Gratis
                La estancia incluye este servicio gratuito: wifi
                Si decides alojarte en este apartotel, te encontrarás en una fantástica zona de Lima (Barranco) y apenas te separarán 15 minutos en coche de Plaza San Martín y Centro comercial Paso 28 de Julio. Tendrás un servicio de limusina o coche con chófer, tintorería y un servicio de recepción las 24 horas a tu disposición. Pagando un pequeño suplemento podrás aprovechar prestaciones como servicio de transporte al aeropuerto (ida y vuelta) (disponible las 24 horas) y aparcamiento sin asistencia gratuito.
                
            </p>
        </div>

        <div class="row">
            <h3>bienvenido</h3>

            <p>
                Acerca de Casa Fanning Apart Hotel
                Habitación en apartahotel
                Tu habitación incluye cocina totalmente equipada
                Limpio y ordenado
                Este alojamiento ha enumerado varias prácticas de limpieza diferentes
                Gratis
                La estancia incluye este servicio gratuito: wifi
                Si decides alojarte en este apartotel, te encontrarás en una fantástica zona de Lima (Barranco) y apenas te separarán 15 minutos en coche de Plaza San Martín y Centro comercial Paso 28 de Julio. Tendrás un servicio de limusina o coche con chófer, tintorería y un servicio de recepción las 24 horas a tu disposición. Pagando un pequeño suplemento podrás aprovechar prestaciones como servicio de transporte al aeropuerto (ida y vuelta) (disponible las 24 horas) y aparcamiento sin asistencia gratuito.
                
            </p>
        </div>

        </div>
        
            
                

    </section>

    


    

    <%- include ('partials/_footer'); -%>
