body{
    scrollbar-color: yellow #800080;
    scrollbar-width: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}


footer{
    background: #108d70 !important;
    color: white;
}

.fondo{    
    height: 100vh;
    width: 100%; 
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btnLogin{
    background:#108d70;
    color: white;
    border-radius: 5px;
    border:1px solid #137c64 ;
    
}
.btnLogin:hover{
    background: white ;
    color: #108d70;
    border-radius: 5px;
}


.trance{
    height: 50px;
    background-image: linear-gradient(#c4c4c4  0,#ffffff 100%);
}

.aboutp{
    margin-left: 50px;
}
.aboutp-negtita{
    color: black;
    font-weight: 900;
}

.img-perfil{
    height: 200px;
}

.bloque-transparente{    
    background: rgb(255 255 255 / 80%);
    border-radius: 5px;
}






